<!DOCTYPE html>
<html>
<head>
	<title>RockPaperScissors</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<hr>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="btn-group btn-group-justified">
					<a href="/rock" class="btn btn-block btn-primary">Play Rock</a>
					<a href="/paper" class="btn btn-block btn-info">Play Paper</a>
					<a href="/scissors" class="btn btn-block btn-primary">Play Scissors</a>
				</div>
			</div>
		</div>
		<hr>
		
		<%= yield %>
		
	</div>		

</body>

</html>
